<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Application</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by {{name}}. It uses data from <span>mapbox.com</span> and <span>darksky.net</span></p>

        <img class="portrait" src="/img/ra2.jpg" alt="">
    </div>
    

    {{>footer}}
</body>
</html>